!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Portal
    = stylesheet_link_tag    'administrator', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %section.vbox
      %section
        %section.hbox.strecth
          #content.container
            = yield
    = javascript_include_tag 'administrator', 'data-turbolinks-track' => true
