.row
  .col-sm-12
    .m-b-md
      %h3.m-b-none 
        = link_to "Voltar", administrator_colunists_path, class: 'pull-right btn btn-default btn-sm'
        %b Nova Coluna
.row
  .col-sm-12
    .m-b-md
      = render 'form'