.navbar{
  margin-bottom: 0px!important;
}
footer {
    margin: 50px 0;
}
.navbar-sub{
  background-color: #0d5597;
}
.navbar-sub a{
  color:#fff;
}
.navbar-sub a:hover{
  color:#0d5597;
}
.article-home{
  padding-bottom: 20px;
}
.paddingbottom{
  padding-bottom: 10px;
}
.circular{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%; 
}