%br/
.well
  %div
    %h4
      %strong DESTAQUES
    .row
      .col-md-12
        .destaques
          %img.img-responsive.paddingbottom{:alt => "", :src => "http://placehold.it/900x300"}/
          %h5
            %b Lorem ispum dolor sit
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
    .row
      .col-md-12
        .destaques
          %img.img-responsive.paddingbottom{:alt => "", :src => "http://placehold.it/900x300"}/
          %h5
            %b Lorem ispum dolor sit
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
    .row
      .col-md-12
        .destaques
          %img.img-responsive.paddingbottom{:alt => "", :src => "http://placehold.it/900x300"}/
          %h5
            %b Lorem ispum dolor sit
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
    .row
      .col-md-12
        .destaques
          %img.img-responsive.paddingbottom{:alt => "", :src => "http://placehold.it/900x300"}/
          %h5
            %b Lorem ispum dolor sit
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.