%br/
.well
  %div
    %h4
      %strong DESTAQUES
    - @posts.where(special: true).each do |post|
      .row
        .col-md-12
          .destaques
            %img.img-responsive.paddingbottom{:alt => "", :src => "#{post.thumb_url if post.thumb?}"}/
            %h5
              %b= post.title
            %p
              = post.resume.html_safe
      %hr/
