%br/
.well
  %div
    %h4
      %strong ARTIGOS MAIS LIDOS
    .row.paddingbottom
      .col-md-8
        .artigos-mais-lidos
          %h5 Lorem ispum dolor sit Lorem ispum t
      .col-md-4
        %img.circular{:alt => "", :src => "img/avatar.jpg"}/
