.row
  .col-md-9
    %br/
    %img.img-responsive{:alt => "", :src => "http://placehold.it/900x300"}/
    %h3 A corte Europeia de Direitos Humanos e o excesso prazal: o caso polonês
    %hr/
    / Post Content
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.
    %hr/
    .row
      .col-md-12
        %h2 Colunistas da Semana
    .row
      .col-md-6.article-home
        .row
          .col-md-4
            %img.img-responsive{:alt => "", :src => "http://placehold.it/900x300"}/
          .col-md-8
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante interdum, mattis ante sit amet, elementum purus. Maecenas sed accumsan ipsum.
      .col-md-6.article-home
        .row
          .col-md-4
            %img.img-responsive{:alt => "", :src => "http://placehold.it/900x300"}/
          .col-md-8
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante interdum, mattis ante sit amet, elementum purus. Maecenas sed accumsan ipsum.
      .col-md-6.article-home
        .row
          .col-md-4
            %img.img-responsive{:alt => "", :src => "http://placehold.it/900x300"}/
          .col-md-8
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante interdum, mattis ante sit amet, elementum purus. Maecenas sed accumsan ipsum.
      .col-md-6.article-home
        .row
          .col-md-4
            %img.img-responsive{:alt => "", :src => "http://placehold.it/900x300"}/
          .col-md-8
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante interdum, mattis ante sit amet, elementum purus. Maecenas sed accumsan ipsum.
    %hr/
    .row
      .col-md-12
        %h2 Artigos
    .row
      .col-md-6.article-home
        .row
          .col-md-4
            %img.img-responsive{:alt => "", :src => "http://placehold.it/900x300"}/
          .col-md-8
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante interdum, mattis ante sit amet, elementum purus. Maecenas sed accumsan ipsum.
      .col-md-6.article-home
        .row
          .col-md-4
            %img.img-responsive{:alt => "", :src => "http://placehold.it/900x300"}/
          .col-md-8
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante interdum, mattis ante sit amet, elementum purus. Maecenas sed accumsan ipsum.
      .col-md-6.article-home
        .row
          .col-md-4
            %img.img-responsive{:alt => "", :src => "http://placehold.it/900x300"}/
          .col-md-8
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante interdum, mattis ante sit amet, elementum purus. Maecenas sed accumsan ipsum.
      .col-md-6.article-home
        .row
          .col-md-4
            %img.img-responsive{:alt => "", :src => "http://placehold.it/900x300"}/
          .col-md-8
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante interdum, mattis ante sit amet, elementum purus. Maecenas sed accumsan ipsum.
    %hr/
    .row
      .col-md-12
        %h2 Jurisprudência
    .row
      .col-md-6.article-home
        .row
          .col-md-4
            %img.img-responsive{:alt => "", :src => "http://placehold.it/900x300"}/
          .col-md-8
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante interdum, mattis ante sit amet, elementum purus. Maecenas sed accumsan ipsum.
      .col-md-6.article-home
        .row
          .col-md-4
            %img.img-responsive{:alt => "", :src => "http://placehold.it/900x300"}/
          .col-md-8
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante interdum, mattis ante sit amet, elementum purus. Maecenas sed accumsan ipsum.
      .col-md-6.article-home
        .row
          .col-md-4
            %img.img-responsive{:alt => "", :src => "http://placehold.it/900x300"}/
          .col-md-8
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante interdum, mattis ante sit amet, elementum purus. Maecenas sed accumsan ipsum.
      .col-md-6.article-home
        .row
          .col-md-4
            %img.img-responsive{:alt => "", :src => "http://placehold.it/900x300"}/
          .col-md-8
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante interdum, mattis ante sit amet, elementum purus. Maecenas sed accumsan ipsum.
  / Blog Sidebar Widgets Column
  .col-md-3
    %br/
    / Side Widget Well
    .well
      %div
        %h4
          %strong DESTAQUES
        .row
          .col-md-12
            .destaques
              %img.img-responsive.paddingbottom{:alt => "", :src => "http://placehold.it/900x300"}/
              %h5
                %b Lorem ispum dolor sit
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
        .row
          .col-md-12
            .destaques
              %img.img-responsive.paddingbottom{:alt => "", :src => "http://placehold.it/900x300"}/
              %h5
                %b Lorem ispum dolor sit
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
        .row
          .col-md-12
            .destaques
              %img.img-responsive.paddingbottom{:alt => "", :src => "http://placehold.it/900x300"}/
              %h5
                %b Lorem ispum dolor sit
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
        .row
          .col-md-12
            .destaques
              %img.img-responsive.paddingbottom{:alt => "", :src => "http://placehold.it/900x300"}/
              %h5
                %b Lorem ispum dolor sit
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
      %div
        %h4
          %strong ARTIGOS MAIS LIDOS
        .row.paddingbottom
          .col-md-8
            .artigos-mais-lidos
              %h5 Lorem ispum dolor sit Lorem ispum t
          .col-md-4
            %img.circular{:alt => "", :src => "img/avatar.jpg"}/
        .row.paddingbottom
          .col-md-8
            .artigos-mais-lidos
              %h5 Lorem ispum dolor sit Lorem ispum t
          .col-md-4
            %img.circular{:alt => "", :src => "img/avatar.jpg"}/
        .row.paddingbottom
          .col-md-8
            .artigos-mais-lidos
              %h5 Lorem ispum dolor sit Lorem ispum t
          .col-md-4
            %img.circular{:alt => "", :src => "img/avatar.jpg"}/
        .row.paddingbottom
          .col-md-8
            .artigos-mais-lidos
              %h5 Lorem ispum dolor sit Lorem ispum t
          .col-md-4
            %img.circular{:alt => "", :src => "img/avatar.jpg"}/
        .row.paddingbottom
          .col-md-8
            .artigos-mais-lidos
              %h5 Lorem ispum dolor sit Lorem ispum t
          .col-md-4
            %img.circular{:alt => "", :src => "img/avatar.jpg"}/